<h1> <%= @place.name %> </h1>


<ul>
<% for post in @place.posts %>
<li> 
<h2> <%= post.title%> </h2>
<h3> <%= post.posted_on%> </h3>
<p> <%= post.description%> </p>
</li>
<% end %>
</ul>

<p>
<a href="/posts/new"> New Post <a>
</p>

<p>
<a href="/places"> Go back to all places <a>
</p>